.app{
  height: 100vh;
  padding : var(--padding-med) var(--padding-large);
}

.navigation {
  width: fit-content;
  height: fit-content;

  position: fixed;
  bottom: 10vh;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  padding: var(--padding-med);
  background-color: var(--primary);
  border-radius: var(--border-radius-large);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navigation-item {
  margin: 0 var(--padding-small);
  cursor: pointer;
}

.navigation-icon {
  width: 3vh;
  height: 3vh;
}

.page-title {
  color: var(--primary);
  font-family: var(--family_secondary);
  text-align: center;
}

.user-chip{
  width : fit-content;
  height : fit-content;
  padding : var(--padding-med);
  border-radius: var(--border-radius-large);
  background-color: var(--primary);
  font-size: var(--small_size);
  color : var(--white);
  margin: auto;
  margin-bottom: var(--padding-small);
}

@media only screen and (min-width: 768px) {
  .app{
    padding : var(--padding-large) var(--padding-xlarge) var(--padding-large) 15%;
  }

  .navigation {
    width: 10vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    flex-direction: column;
  }

  .navigation-icon {
    margin: var(--padding-small) 0;
    width: 3vw;
    height: 3vw;
  }
}

table {
  font-family: var(--family_secondary);
  border-collapse: collapse;
  width: 100%;
}

th, td{
  text-align: center;
  padding : var(--padding-small);
  display: flex;
  align-items : center;
  justify-content: center;
}

th {
  height: 60px;
  color: #f3f4f3;
  font-family: var(--family_secondary);
  background-color: var(--primary);
}

td {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #daf1da;
}

.table-row{
  transition: all 0.3s ease;
}

.table-row.clickable:hover{
  cursor: pointer;
  background-color: var(--primary);
  transform: scale(1.01);
}

.table-row.clickable:hover > *{
  color : var(--white);
}

.first-row {
  text-align: left !important;
}