/* HISTORY CARD */

.history-card{
	width : 100%;
	height : 10vh;
	overflow: hidden;
	display: grid;
  position: relative;
	background-color: var(--white-secondary);
	padding : var(--padding-small);
	border-radius: var(--border-radius-small);
}

.history-img{
	border-radius: var(--border-radius-small);
}

.history-time{
	color : var(--primary);
  position: absolute;
  top : 3vw;
  right : 3vw;
}

.history-title, .history-amount{
	color : var(--secondary);
}

.history-amount{
	font-family: var(--family_secondary);
}

@media only screen and (min-width: 768px) {
  .history-time{
    top : 1vh;
    right : 1vh;
  }
}

/* END OF HISTORY CARD */
/* DORAYAKI CARD */

.dorayaki-card{
	width: 100%;
	height: 40vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: 30vh 1fr;
	grid-template-columns: 1fr;
	background-color: var(--white-secondary);
	border-radius: var(--border-radius-small);
}

.dorayaki-img{
	border-radius: var(--border-radius-small);
}

.dorayaki-control{
	width: 100%;
	height : 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 6vh;
	padding : var(--padding-small);
}

.dorayaki-text{
	width: 100%;
	height: 100%;
	padding : var(--padding-small);
}

.dorayaki-name, .dorayaki-price{
	color : var(--primary);
}

.dorayaki-price{
	font-family: var(--family_secondary);
}

.dorayaki-cart-icon-container{
	width: 6vh;
	height: 6vh;
	padding: var(--padding-small);
	border-radius: var(--border-radius-circle);
	background-color: var(--primary);
	align-self: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dorayaki-cart-icon-container:hover{
  transform: scale(1.05);
}

.dorayaki-cart-icon {
	width : 100%;
	height: 100%;
}

@media only screen and (min-width: 768px) {
  .dorayaki-card{
    grid-template-rows: 25vh 1fr;
  }
}

/* END OF DORAYAKI CARD */