/*Search Component*/

.searchbox {
  width: 100%;
  position: relative;
  background-color: var(--white-secondary);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--padding-small);
}

.search-input {
  width: 100%;
  height: 100%;
  padding-left: var(--padding-large);
}

.search-icon {
  width: var(--padding-med);
  height: var(--padding-med);
  position: absolute;
  left: var(--padding-small);
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .searchbox {
    margin-bottom: var(--padding-med);
  }
}

/*End Of Search Component*/

/*Button Component*/

.btn {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: var(--p_size);
  padding: var(--padding-small);
  border-radius: var(--border-radius-small);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.01);
}

.btn-primary {
  background: var(--primary);
  outline: 1px solid var(--primary);
  color: var(--white);
}

.btn-secondary {
  background: transparent;
  outline: 1px solid var(--primary);
  color: var(--primary);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-container > * {
  margin-bottom: var(--padding-small);
}

@media only screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
  }

  .button-container > * {
    margin-bottom: 0;
    margin: 0 var(--padding-small);
  }
}

/*End Of Button Component*/

/*Alert Component*/

.alert {
  -webkit-box-align: center;
  align-items: center;
  background: #d8eefe;
  border: 0;
  border-left: 5px solid #094067;
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  left: 0px;
  line-height: 24px;
  font-weight: 600;
  overflow: hidden;
  overflow-wrap: break-word;
  padding-bottom: 12px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-top: 12px;
  position: relative;
  right: 0px;
  top: 0px;
  width: 100%;
  word-wrap: break-word;
}

.alert.info {
  background: #d8eefe;
  border-left: 5px solid #094067;
}

.alert.success {
  background: #c6f6d5;
  border-left: 5px solid #38a169;
}

.alert.error {
  background: #fed7d7;
  border-left: 5px solid #e53e3e;
}

/*End Of Alert Component*/

/*FORM*/
#form .form-container {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form .form-title {
  font-weight: bold;
  color: white;
  font-size: 80px;
  margin-bottom: 1%;
}

#form .form-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-bottom: 2%;
}

#form .form-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
}

#form .form-login {
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1.5vh;
}

#form .input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  border-radius: 0px !important;
  padding-left: 0px;
}

#form .submit {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: var(--secondary);
  width: 100%;
  border-radius: 6px;
  margin-top: 3%;
}

#form .form-bottom-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3%;
}

#form .form-bottom-text {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#form .terms-policy {
  font-weight: bold;
  color: #c7c7c7;
}

/*END OF FORM*/

/*LABTEXT*/
.labtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.labtext label {
  margin-bottom: var(--padding-small);
}
/*END OF LABTEXT*/

/*PAGINATION*/
.pagination-container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3vw 3vw 3vw;
  margin: var(--padding-small) 0;
}

.pagination-number {
  font-size: var(--h5_size);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  text-align: center;
  color: var(--primary);
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: var(--h4_size);
  color: var(--primary);
}

.pagination-btn:hover {
  transform: scale(1.1);
}
/*END OF PAGINATION*/

/*SWITCH*/
.switch {
  width: 100%;
  height: fit-content;
  background-color: var(--white-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--padding-small);
  border-radius: var(--border-radius-small);
}

.switch > * {
  flex: 1;
}

.option {
  text-align: center;
  font-size: var(--p_size);
  font-family: var(--family_primary);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: var(--padding-small);
  border-radius: var(--border-radius-small);
}

.option:hover {
  transform: scale(1.01);
  background-color: var(--secondary);
}

.option.active {
  background-color: var(--primary);
  color: var(--white);
}
/*END OF SWITCH*/

/*MODAL*/
.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal.hidden {
  transform: translateY(-100vw);
}

.modal.visible {
  transform: translateY(0);
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  filter: opacity(0.8) blur(5px);
  cursor: pointer;
}

.modal-content {
  width: fit-content;
  height: fit-content;
  min-width: 50vw;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border-radius: var(--border-radius-small);
  padding: var(--padding-med);

  transform: translateY(-100vw);
  transition: all 0.3s ease;
  z-index: 3;
}

.modal.visible .modal-content {
  transform: translateY(0vw);
}

.modal-content p {
  text-align: center;
  color: var(--primary);
  margin-bottom: var(--padding-med);
}

.modal .button-container {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .button-container > * {
  margin: 0 var(--padding-small);
}
/*END OF MODAL*/

@media only screen and (max-width: 600px) {
  #form .form-container-inner {
    width: 300px;
  }
}
/*END OF MODAL*/

/*COUNTER*/
.counter {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
}

.counter div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter h3 {
  padding: var(--padding-small);
  background-color: var(--secondary);
  border-radius: var(--border-radius-small);
  color: var(--white);
  cursor: pointer;
  text-align: center;
}
/*END OF COUNTER*/
