.searchbox {
  width: 60%;
  position: relative;
  background-color: var(--white-secondary);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--padding-small);
}

.search-input {
  width: 100%;
  height: fit-content;
}

.search-icon {
  width: var(--padding-med);
  height: var(--padding-med);
  position: absolute;
  left: var(--padding-small);
  top: 50%;
  transform: translateY(-50%);
}

.alert {
  -webkit-box-align: center;
  align-items: center;
  background: #d8eefe;
  border: 0;
  border-left: 5px solid #094067;
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  left: 0px;
  line-height: 24px;
  font-weight: 600;
  overflow: hidden;
  overflow-wrap: break-word;
  padding-bottom: 12px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-top: 12px;
  position: relative;
  right: 0px;
  top: 0px;
  width: 100%;
  word-wrap: break-word;
}

.alert.info {
  background: #d8eefe;
  border-left: 5px solid #094067;
}

.alert.success {
  background: #C6F6D5;
  border-left: 5px solid #38A169;
}

.alert.error {
  background: #FED7D7;
  border-left: 5px solid #E53E3E;
}
