.searchbox {
  width: 60%;
  position: relative;
  background-color: var(--white-secondary);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--padding-small);
}

.search-input {
  width: 100%;
  height: fit-content;
}

.search-icon {
  width: var(--padding-med);
  height: var(--padding-med);
  position: absolute;
  left: var(--padding-small);
  top: 50%;
  transform: translateY(-50%);
}
