/*User Page*/

#home,
#search,
#history,
#buy {
  width: 100%;
  height: fit-content;
  margin-bottom: 20vh;
}

.history-container > *,
.search-container > *,
.home-container > *,
.buy-container > *,
.buy-container .form > * {
  margin-bottom: var(--padding-small);
}

.buy-container .dorayaki-image {
  width: 100%;
  height: 30vh;
}

.buy-container .total-cost {
  display: grid;
  grid-template-columns: 20vw 1fr;
  align-items: center;
  justify-content: center;
}

.buy-container .total-cost h3 {
  text-align: right;
  color: var(--primary);
  font-family: var(--family_secondary);
}

@media only screen and (min-width: 768px) {
  #home,
  #search,
  #history,
  #buy {
    margin-bottom: 0vh;
  }
  #home .home-container,
  #search .search-container {
    display: grid;
    gap: var(--padding-med) var(--padding-med);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .buy-container .button-container {
    flex-direction: row-reverse;
  }
  .buy-container{
    display: flex;
    flex-direction: row;
  }
  .buy-container .dorayaki-image {
    width: 100%;
    height: 50vh;
  }
  .buy-container > *{
    flex : 1;
    padding : var(--padding-med);
  }
}

.not-found-container {
  width: 80vw;
  margin-top: 10%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-admin .table-container #dorayaki-table tr {
  display: grid;
  grid-template-columns: 1fr 10vh 2fr 3fr 1fr 1fr;
  grid-template-rows: 10vh;
}

#home-admin .search-container {
  display: grid;
  grid-template-columns: 1fr 10vw;
  gap: var(--padding-med);
  padding: var(--padding-small) 0;
  margin-bottom: var(--padding-small);
}

#home-admin .add-dorayaki {
  background-color: var(--primary);
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.dorayaki-management-container > * {
  margin-bottom: var(--padding-large);
}

.dorayaki-details {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  grid-gap: 30px;
}

#dorayaki-photo {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 8px;
  object-fit: cover;
}

.dorayaki-details-main {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 16px;
}

#admin-history-page .table-container #user-pov-history-table tr {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 1fr 1fr;
}

#admin-history-page .table-container #admin-pov-history-table tr {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 1fr 1fr 1fr;
}

.history-container > * {
  margin-bottom: var(--padding-large);
}

.dorayaki-details-text input,
.dorayaki-details-text textarea {
  width: 100%;
}

.dorayaki-details h3 {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-secondary);
  margin-bottom: 10px;
}

.dorayaki-details span,
.dorayaki-details p {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.history-inner-container > * {
  margin-bottom: var(--padding-small);
}
