#home,
#search,
#history {
  width: 100%;
  height: fit-content;
  padding: var(--padding-med) var(--padding-large);
}

#history .history-container > * {
  margin-bottom: var(--padding-small);
}

#search .search-container > * {
  margin-bottom: var(--padding-small);
}

#home .home-container > * {
  margin-bottom: var(--padding-small);
}

#home-admin .table-container {
  margin-top: 3%;
  margin-left: 15%;
}

#home-admin .search-container {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 15%;
}

#home-admin .add-dorayaki {
  background-color: var(--primary);
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 8px;
  cursor: pointer;
}

#home-admin .pagination-container {
  display: flex;
  width: 90%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

#home-admin .pagination-number {
  font-size: 36px;
}

#login .login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
