#home,
#search,
#history {
  width: 100%;
  height: fit-content;
  padding: var(--padding-med) var(--padding-large);
}

#history .history-container > * {
  margin-bottom: var(--padding-small);
}

#search .search-container > * {
  margin-bottom: var(--padding-small);
}

#home .home-container > * {
  margin-bottom: var(--padding-small);
}

#home-admin .table-container {
  margin-top: 3%;
  margin-left: 15%;
}

#home-admin .search-container {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 15%;
}

#home-admin .add-dorayaki {
  background-color: var(--primary);
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 8px;
  cursor: pointer;
}

#home-admin .pagination-container {
  display: flex;
  width: 90%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

#home-admin .pagination-number {
  font-size: 36px;
}

.doriyaki-details {
  margin: 40px 5% 0 15%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.doriyaki-details-main {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.doriyaki-details h3 {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-secondary);
  margin-bottom: 10px;
}

.doriyaki-details span,
.doriyaki-details p {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.doriyaki-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 44px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.doriyaki-button.primary {
  background: var(--primary);
  outline: 1px solid var(--primary);
  color: var(--white);
}

.doriyaki-button.outline {
  background: transparent;
  outline: 1px solid var(--primary);
  color: var(--primary);
}

#login .login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
