RewriteEngine on 

RewriteBase /

RewriteCond %{REQUEST_URI} !^/config
RewriteCond %{REQUEST_URI} !^/controllers
RewriteCond %{REQUEST_URI} !^/views
RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_URI} !^/testing

RewriteRule ^(.*)$ /views/$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

<Files .htaccess>
order allow,deny
deny from all
</Files>